* {
  margin: 0;
  padding: 0;
}

.body {
  background-color: #eee;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc {
  height: 70%;
  width: 90%;
  background-color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.calc .first {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5% 0;
}

.calc .first .length {
  width: 60%;
  margin: auto 0 auto 5%;
}

.calc .first .unit {
  margin: 0 auto auto auto;
  height: 55px;
}

.calc .second {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5% 0;
}

.calc .second .height {
  width: 60%;
  margin: auto 0 auto 5%;
}

.calc .second .gradient {
  margin: 0 auto auto auto;
  height: 55px;
}

.calc .buttons {
  display: flex;
  flex-direction: row;
  order: 3;
  margin: 5% 0 0 5%;
  width: 60%;
}

.buttons .button {
  width: 45%;
  margin: auto;
}
